<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositorypath" value="packages" />
  </config>
  <packageSources>
    <clear />
    <add key="vssdk" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/vssdk/nuget/v3/index.json" />
    <add key="msft_consumption_public" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/msft_consumption_public/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="vssdk">
      <package pattern="Microsoft.ServiceHub.*" />
      <package pattern="Microsoft.VisualStudio.*" />
    </packageSource>
    <packageSource key="msft_consumption_public">
      <package pattern="*" />
      <package pattern="Microsoft.VisualStudio.Internal.MicroBuild" />
      <package pattern="Microsoft.VisualStudio.Internal.MicroBuild.*" />
      <package pattern="Microsoft.VisualStudioEng.*" />
    </packageSource>
  </packageSourceMapping>
  <disabledPackageSources>
    <!-- Defend against user or machine level disabling of sources that we list in this file. -->
    <clear />
  </disabledPackageSources>
</configuration>
