<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="DefaultPushSource" value="https://mseng.pkgs.visualstudio.com/DefaultCollection/_packaging/VSIDEProj-CI/nuget/v3/index.json" />
    <add key="repositorypath" value="..\packages" />
  </config>
  <packageSources>
    <clear />
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="vssdk" value="https://devdiv.pkgs.visualstudio.com/_packaging/vssdk/nuget/v3/index.json" protocolVersion="3" />
    <add key="vs-impl" value="https://devdiv.pkgs.visualstudio.com/_packaging/vs-impl/nuget/v3/index.json" protocolVersion="3" />
    <add key="VSIDE-RealSigned-Release" value="https://devdiv.pkgs.visualstudio.com/_packaging/VSIDE-RealSigned-Release/nuget/v3/index.json" protocolVersion="3"/>
    <add key="VS-PrivateAssemblies" value="https://mseng.pkgs.visualstudio.com/_packaging/VS-PrivateAssemblies/nuget/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
